:root {
    --background-color: rgb(255, 255, 255);
    --box-shadow: rgba(152, 152, 152, 0.2);
    --extra-color: rgb(164, 107, 0);
    --secondary-color: rgb(185, 145, 80);
    --primary-color: rgb(255, 175, 24);
    --text-accent-color: rgb(56, 36, 0);
    --bold-font: MullerBold, sans-serif;
    --extra-bold-font: MullerExtraBold, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: MullerBold;
    src: url("../fonts/MullerBold.otf");
}

@font-face {
    font-family: MullerExtraBold;
    src: url("../fonts/MullerExtraBold.otf");
}

@font-face {
    font-family: Muller;
    src: url("../fonts/MullerRegular.otf");
}

body {
    font-family: Muller, sans-serif;
}

.header {
    background-color: var(--background-color);
    box-shadow: 0 3px 14px 1.2px var(--box-shadow);
    padding: 16px 0 15px 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;

}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 489px;
}

.menu-item a {
    text-decoration: none;
    font-size: 16px;
    color: var(--extra-color);
    line-height: 1;
}

.main {
    padding: 132px 0 81px 0;
}


.main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-info {
    max-width: 622px;
}

.main-info h1 {
    font-size: 45px;
    font-family: var(--extra-bold-font);
    line-height: 1.222;


}

.double-title {
    color: var(--secondary-color);
}

.double-title span {
    color: var(--primary-color);
}


.main-advantages {
    margin-top: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantage {
    max-width: 306px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 47px;

}

.advantage-text {
    margin-left: 16px;
}

.advantage-title {
    font-size: 16px;
    font-family: var(--extra-bold-font);
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantage-description {
    font-size: 16px;
    color: var(--secondary-color);
}

.main-action {
    margin-top: 60px;
}

.btn {
    font-size: 16px;
    font-family: var(--bold-font);
    color: rgb(2, 3, 3);
    background-color: var(--primary-color);
    width: 224px;
    height: 60px;
    cursor: pointer;
    outline: none;
    padding: 22px;
    box-sizing: border-box;
    border: 0;
}

.products {
    padding: 80px 0 120px 0;
}

.products-title {
    font-size: 35px;
    font-family: var(--bold-font);
    color: rgb(189, 152, 92);
    text-align: center;
}

.products-items {
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    width: 282px;
    box-shadow: 0 3px 14px 1.2px var(--box-shadow);
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
    margin-top: 24px;
}

.product-image {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-title {
    font-size: 18px;
    font-family: var(--bold-font);
    color: var(--text-accent-color);
}

.product-text {
    font-size: 14px;
    color: rgb(24, 26, 26);
    line-height: 1.286;
    height: 49px;
    margin: 14px 0 15px 0;
}

.product-action .btn {
    width: 242px;
    height: 50px;
    padding: 17px;
}

.order {
    padding: 120px 0 115px;
    overflow: hidden;
}

.order .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.order-text {
    max-width: 384px;
}

.order-text-title {
    font-size: 35px;
    font-family: var(--extra-bold-font);
    margin-bottom: 65px;
}

.order-text-message {
    font-size: 16px;
    color: var(--secondary-color);
    line-height: 1.5;
}

.order-input {
    border-width: 1px;
    border-color: var(--secondary-color);
    border-style: solid;
    background-color: var(--background-color);
    width: 330px;
    height: 60px;
    font-size: 18px;
    padding: 23px 22px 24px 22px;
    margin-bottom: 24px;
    box-sizing: border-box;
    outline: 0;

}

.order-input::placeholder {
    color: rgb(203, 168, 110);
}

.order .btn {
    width: 330px;
    height: 60px;
}

.order-form {
    margin-left: 122px;
    max-width: 330px;
}

.order-image {
    width: 282px;
    position: relative;
    margin-left: 78px;
}

.order-image img {
    position: absolute;
    bottom: -35px;
    left: 0;

}


.footer {
    background-color: var(--background-color);
    box-shadow: 0 0 14px 1.2px var(--box-shadow);
    padding: 16px 0 15px;
}

.footer .container {
    display: flex;
    align-items: center;

}

.rights {
    font-size: 12px;
    color: rgb(186, 179, 179);
    margin-left: 358px;
}

.burger {
    display: none;
}

.close {
    display: none;
}